{% extends 'base.html.twig' %}

{% block title %}Forum - {{ user.email }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}


{% block body %}
    <div class="my-3 my-md-5">
        <div class="page-header row">
            <h1 class="page-title align-top align-text-top">
                Gebruiker <a class="text-muted" href="{{ path('profile', {'user': user.email}) }}">{{ user.email }}</a> bewerken
            </h1>
            <div class="page-options">
                <a href="{{ path('profile', {'user': user.email}) }}" class="btn btn-secondary"><i class="fe fe-arrow-left"></i> Terug</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Gegevens bewerken
                        </h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            <label class="form-label">Email:</label>
                            {{ form_row(form.email, {'value': user.email}) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Volledige naam:</label>
                            {{ form_row(form.fullname, {'value': user.extraInformationUser.fullname}) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Geboren op:</label>
                            {{ form_row(form.birthday, {'value': user.extraInformationUser.birthday|date('d-m-Y')}) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Bio:</label>
                            {{ form_row(form.bio, {'value': user.extraInformationUser.bio}) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Twitter URL:</label>
                            {{ form_row(form.socialUrl, {'value': user.extraInformationUser.socialUrl}) }}
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Verzenden</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Wachtwoord veranderen
                        </h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(passForm) }}
                        <div class="form-group">
                            <label class="form-label">Huidig wachtwoord:</label>
                            {{ form_row(passForm.password) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Wachtwoord:</label>
                            {{ form_row(passForm.new_password.first) }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Verifieer wachtwoord:</label>
                            {{ form_row(passForm.new_password.second) }}
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Verzenden</button>
                        </div>
                        {{ form_end(passForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#edit_user_form_birthday").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-mm-yy",
                yearRange: "1970:+nn",
            });
        });
    </script>
{% endblock %}
